<script>
    if ( window.history.replaceState ) {
       window.history.replaceState( null, null, window.location.href );
   }
   </script>

<div class="footer">
    <% const currentYear = new Date().getFullYear(); %>
    <p class="copyright">© <%= currentYear %> CheckMate by Laiba Farhan. All rights reserved.</p>
</div>
  
</html>